.corpinho{
    display: flex;
    height: 90vh;
    margin: 15px 10%;
    flex-direction: column;
}

.box{
    background-color: skyblue;
    height: 500px;
    width: 500px;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 5px solid #000;
    border-radius: 20px;
    
}

button{
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.titulo{
    color: aliceblue;
}

.texto {
    font-size: 26px;
    font-weight: 900;
    color: black;
}

.tomato{
    background-color: tomato;
}